# Ignore local database backups and template files
ufc-db-temp.js
ufc-db-template.js
ufc-db.js
ufc-bet-tracker61426.html
bets.html


# Ignore Obsidian markdown notes (to keep personal notes out of the public repo)
*.md

# Ignore system/editor files
.DS_Store
Thumbs.db

# Ignore local publish script
publish-to-github.ps1
